button {
    border: none;
    background-color: rgb(221, 219, 235);
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: rgb(182, 178, 185);
}

.equals {
    grid-column: 3 / 5;
    background-color: rgb(215, 241, 167);
}

.equals:hover {
    background-color: rgb(193, 248, 90);
}