@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Alumni Sans Pinstripe", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    background-image: linear-gradient(315deg, #e2e2e2 0%, #858585 50%);
}